In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("expense_tracker_raw.csv")

In [3]:
df

,Transaction_ID,Date,Category,Amount,Payment_Mode,Merchant,Location,Notes
0,1,2022/02/21,Healthcare,16.99,Cash,Amazon,Dhaka,Family expense
1,2,2023-04-03,Utilities,4349.71,Mobile Banking,NaN,Chittagong,Monthly bill
2,3,2025-01-21,Education,4270.06,Mobile Banking,Pharmacy,Dhaka,Family expense
3,4,2022-03-07,Shopping,-40.48,NaN,Restaurant,Dhaka,Refund
4,5,2023/04/22,Healthcare,unknown,Credit Card,Amazon,Chittagong,Family expense
...,...,...,...,...,...,...,...,...
803995,18853,2022/09/27,Utilities,-20.75,Cash,NaN,NaN,Urgent
803996,168468,2024/03/10,Shopping,NaN,Debit Card,Uber,NaN,Monthly bill
803997,414416,22-06-2024,Shopping,unknown,Mobile Banking,Local Store,Chittagong,Monthly bill
803998,770869,2022-04-25,Healthcare,350.17,Mobile Banking,NaN,Remote,Refund
803999,435775,2023-10-05,Education,1632.02,Debit Card,Uber,Chittagong,NaN

In [4]:
df.drop_duplicates(subset="Transaction_ID",inplace = True)

In [5]:
len(df)

800000

In [6]:
df.dtypes

Transaction_ID     int64
Date              object
Category          object
Amount            object
Payment_Mode      object
Merchant          object
Location          object
Notes             object
dtype: object

In [7]:
df["Date"] = pd.to_datetime(df["Date"],errors = "coerce")

In [8]:
def clean_amount(x):
    try:
        x = float(x)
        if x<10000000 :
            return x
        return np.nan
    except:
        return np.nan

df["Amount"] = df["Amount"].apply(clean_amount)

In [9]:
df.replace("",np.nan,inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 800000 entries, 0 to 799999
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Transaction_ID  800000 non-null  int64
 1   Date            253475 non-null  datetime64[ns]
 2   Category        720019 non-null  object
 3   Amount          481258 non-null  float64
 4   Payment_Mode    640330 non-null  object
 5   Merchant        720017 non-null  object
 6   Location        639885 non-null  object
 7   Notes           640333 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 54.9+ MB

In [11]:
df.head(20)

,Transaction_ID,Date,Category,Amount,Payment_Mode,Merchant,Location,Notes
0,1,2022-02-21,Healthcare,16.99,Cash,Amazon,Dhaka,Family expense
1,2,NaT,Utilities,4349.71,Mobile Banking,NaN,Chittagong,Monthly bill
2,3,NaT,Education,4270.06,Mobile Banking,Pharmacy,Dhaka,Family expense
3,4,NaT,Shopping,-40.48,NaN,Restaurant,Dhaka,Refund
4,5,2023-04-22,Healthcare,NaN,Credit Card,Amazon,Chittagong,Family expense
5,6,NaT,NaN,-24.22,Debit Card,Pharmacy,NaN,Urgent
6,7,NaT,Transport,-20.04,Debit Card,Restaurant,Dhaka,NaN
7,8,NaT,Healthcare,248.89,NaN,Pharmacy,Dhaka,Family expense
8,9,2022-11-23,Education,2378.06,NaN,Pharmacy,NaN,NaN
9,10,NaT,Shopping,-3.94,Debit Card,Netflix,NaN,Refund
10,11,NaT,Utilities,238.71,NaN,Walmart,Dhaka,NaN
11,12,NaT,Education,NaN,Mobile Banking,Uber,Chittagong,NaN
12,13,NaT,Education,277.38,Cash,Netflix,Chittagong,Urgent
13,14,NaT,Transport,-16.72,Cash,Amazon,Chittagong,NaN
14,15,NaT,Entertainment,2991.55,Debit Card,Amazon,Remote,NaN
15,16,2024-01-11,Shopping,1274.81,Credit Card,Restaurant,NaN,Family expense
16,17,NaT,Rent,3556.36,Cash,Spotify,NaN,Urgent
17,18,NaT,Education,33.03,Mobile Banking,Uber,NaN,Refund
18,19,NaT,Entertainment,-17.18,Cash,NaN,Chittagong,Family expense
19,20,NaT,Rent,NaN,Debit Card,Restaurant,Chittagong,Monthly bill

In [12]:
df["Amount"].mean()

np.float64(1076.7542370620333)

In [13]:
df["Notes"] = df["Notes"].str.strip().fillna("Unknown")

In [14]:
df["Refund"] = np.nan

In [15]:
df.loc[df["Notes"]=="Refund","Refund"]=df.loc[df["Notes"]=="Refund","Amount"]

In [16]:
df["Expenses"] = np.nan

In [17]:
df["Expenses"] = df.loc[df["Notes"]!="Refund","Amount"]

In [18]:
df["High_Spend_Flag"] = df["Amount"]>2500

In [19]:
df["Transaction_flag"] = np.nan

In [20]:
df["Transaction_flag"] = np.nan

def valid_transaction(x):
    if pd.isna(x["Transaction_ID"]) :
        return False
    if x["Expenses"]<=0 :
        return False
    if x["Refund"]>=0 :
        return False
    if pd.Timestamp.today()<x["Date"] :
        return False
    return True

df["Transaction_flag"] = df.apply(valid_transaction,axis=1)

In [21]:
df["Year"] = df["Date"].dt.year

In [46]:
df["Month"] = df["Date"].dt.month

In [47]:
df

,Transaction_ID,Date,Category,Amount,Payment_Mode,Merchant,Location,Notes,Refund,Expenses,High_Spend_Flag,Transaction_flag,Year,Month
0,1,2022-02-21,Healthcare,16.99,Cash,Amazon,Dhaka,Family expense,NaN,16.99,False,True,2022.0,2.0
1,2,NaT,Utilities,4349.71,Mobile Banking,NaN,Chittagong,Monthly bill,NaN,4349.71,True,True,NaN,NaN
2,3,NaT,Education,4270.06,Mobile Banking,Pharmacy,Dhaka,Family expense,NaN,4270.06,True,True,NaN,NaN
3,4,NaT,Shopping,-40.48,NaN,Restaurant,Dhaka,Refund,-40.48,NaN,False,True,NaN,NaN
4,5,2023-04-22,Healthcare,NaN,Credit Card,Amazon,Chittagong,Family expense,NaN,NaN,False,True,2023.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799995,799996,2023-08-06,NaN,NaN,NaN,Pharmacy,Remote,Unknown,NaN,NaN,False,True,2023.0,8.0
799996,799997,NaT,Shopping,78.69,NaN,Netflix,Online,Monthly bill,NaN,78.69,False,True,NaN,NaN
799997,799998,NaT,Entertainment,NaN,Credit Card,Local Store,Online,Family expense,NaN,NaN,False,True,NaN,NaN
799998,799999,NaT,Transport,NaN,Cash,NaN,Online,Family expense,NaN,NaN,False,True,NaN,NaN
799999,800000,NaT,Healthcare,115.24,NaN,Uber,NaN,Family expense,NaN,115.24,False,True,NaN,NaN

In [27]:
Total_spending = df["Expenses"].sum()

In [28]:
Total_spending

np.float64(415078900.09000003)

In [49]:
monthly_expenses = df.groupby(["Year","Month"])["Expenses"].sum().reset_index().sort_values(
    by=["Year","Month"]
)

In [52]:
monthly_expenses.columns = ["Year","Month","Expenses"]

In [64]:
type(monthly_expenses)

pandas.core.frame.DataFrame

In [72]:
monthly_expenses["Trend"] = ""

In [74]:
monthly_expenses["Trend"] = np.where(monthly_expenses["Expenses"].diff()>0,"increasing",
                                    np.where(monthly_expenses["Expenses"].diff()<0,"decreasing","Equal"))

In [ ]:
monthly_expenses.loc[monthly_expenses["Expenses"].diff().isna(),"Trend"] = "Start"

In [78]:
monthly_expenses

      Year  Month    Expenses       Trend
0   2022.0    1.0  3639842.58       Start
1   2022.0    2.0  2963515.63  decreasing
2   2022.0    3.0  3222802.45  increasing
3   2022.0    4.0  3262086.18  increasing
4   2022.0    5.0  3395165.92  increasing
5   2022.0    6.0  3274829.87  decreasing
6   2022.0    7.0  3502858.34  increasing
7   2022.0    8.0  3161652.23  decreasing
8   2022.0    9.0  3285604.85  increasing
9   2022.0   10.0  3383011.92  increasing
10  2022.0   11.0  3356159.17  decreasing
11  2022.0   12.0  3368367.18  increasing
12  2023.0    1.0  3447262.19  increasing
13  2023.0    2.0  3041082.96  decreasing
14  2023.0    3.0  3525812.12  increasing
15  2023.0    4.0  3406384.97  decreasing
16  2023.0    5.0  3478380.44  increasing
17  2023.0    6.0  3313355.57  decreasing
18  2023.0    7.0  3614693.49  increasing
19  2023.0    8.0  3259483.06  decreasing
20  2023.0    9.0  3067242.96  decreasing
21  2023.0   10.0  3389037.20  increasing
22  2023.0   11.0  3430848.04  increasing
23  2023.0   12.0  3353925.99  decreasing
24  2024.0    1.0  3548401.67  increasing
25  2024.0    2.0  3154160.95  decreasing
26  2024.0    3.0  3436035.81  increasing
27  2024.0    4.0  3198713.30  decreasing
28  2024.0    5.0  3493097.54  increasing
29  2024.0    6.0  3323763.94  decreasing
30  2024.0    7.0  3381258.48  increasing
31  2024.0    8.0  3420513.32  increasing
32  2024.0    9.0  2994206.78  decreasing
33  2024.0   10.0  3374862.17  increasing
34  2024.0   11.0  3261231.07  decreasing
35  2024.0   12.0  3322756.36  increasing
36  2025.0    1.0  3508146.11  increasing
37  2025.0    2.0  3158302.96  decreasing
38  2025.0    3.0  3411429.11  increasing
39  2025.0    4.0  1474507.05  decreasing

In [37]:
Categorical_expenses = df.groupby(["Category"])["Expenses"].sum().reset_index()

In [38]:
Merchant_expenses = df.groupby(["Merchant"])["Expenses"].sum().reset_index()

In [39]:
Merchant_expenses

      Merchant     Expenses
0       Amazon  41331148.40
1  Local Store  41166949.96
2      Netflix  41483867.03
3  Online Shop  41679241.10
4     Pharmacy  41400007.93
5   Restaurant  41447974.23
6      Spotify  41647930.64
7         Uber  42255959.89
8      Walmart  41607830.57

In [90]:
anomaly_detection = pd.DataFrame({
    "Transaction_ID" : df["Transaction_ID"], 
    "Unusually_high_expenses" : df["High_Spend_Flag"].values,
    "Transaction_Flag" : df["Transaction_flag"].values,
    "Sudden_spending_spikes" : df["Expenses"].diff()>2000,
    "Irregular_refunds" : df["Refund"]>0,
    "Irregular_expenses" : df["Expenses"]<0
})

In [91]:
anomaly_detection

,Transaction_ID,Unusually_high_expenses,Transaction_Flag,Sudden_spending_spikes,Irregular_refunds,Irregular_expenses
0,1,False,True,False,False,False
1,2,True,True,True,False,False
2,3,True,True,False,False,False
3,4,False,True,False,False,False
4,5,False,True,False,False,False
...,...,...,...,...,...,...
799995,799996,False,True,False,False,False
799996,799997,False,True,False,False,False
799997,799998,False,True,False,False,False
799998,799999,False,True,False,False,False
799999,800000,False,True,False,False,False

In [94]:
payment_summary = df["Payment_Mode"].fillna("Unknown").value_counts().reset_index()

In [95]:
payment_summary.columns = ["Payment_Mode","Total_used"]

In [96]:
payment_summary

     Payment_Mode  Total_used
0     Credit Card      160527
1      Debit Card      160379
2  Mobile Banking      159852
3         Unknown      159670
4            Cash      159572

In [115]:
financial_health = pd.DataFrame({
    "Metrics" : [
        "Total_valid_transaction",
        "Total_expenses",
        "Total_Refund"
    ],
    
    "Values" : [
    df["Transaction_flag"].sum(),
    df["Expenses"].sum(),
    df["Refund"].sum()
    ]
})

In [116]:
financial_health

                   Metrics        Values
0  Total_valid_transaction  6.076890e+05
1           Total_expenses  4.150789e+08
2             Total_Refund  1.031177e+08

In [117]:
month_fixer = {
    1.0 : "January",
    2.0 : "February",
    3.0 : "March",
    4.0 : "April",
    5.0 : "May",
    6.0 : "June",
    7.0 : "July",
    8.0 : "August",
    9.0 : "September",
    10.0 : "October",
    11.0 : "November",
    12.0 : "December"
}

monthly_expenses["Month"] = monthly_expenses["Month"].map(month_fixer)

In [118]:
monthly_expenses

      Year      Month    Expenses       Trend
0   2022.0    January  3639842.58       Start
1   2022.0   February  2963515.63  decreasing
2   2022.0      March  3222802.45  increasing
3   2022.0      April  3262086.18  increasing
4   2022.0        May  3395165.92  increasing
5   2022.0       June  3274829.87  decreasing
6   2022.0       July  3502858.34  increasing
7   2022.0     August  3161652.23  decreasing
8   2022.0  September  3285604.85  increasing
9   2022.0    October  3383011.92  increasing
10  2022.0   November  3356159.17  decreasing
11  2022.0   December  3368367.18  increasing
12  2023.0    January  3447262.19  increasing
13  2023.0   February  3041082.96  decreasing
14  2023.0      March  3525812.12  increasing
15  2023.0      April  3406384.97  decreasing
16  2023.0        May  3478380.44  increasing
17  2023.0       June  3313355.57  decreasing
18  2023.0       July  3614693.49  increasing
19  2023.0     August  3259483.06  decreasing
20  2023.0  September  3067242.96  decreasing
21  2023.0    October  3389037.20  increasing
22  2023.0   November  3430848.04  increasing
23  2023.0   December  3353925.99  decreasing
24  2024.0    January  3548401.67  increasing
25  2024.0   February  3154160.95  decreasing
26  2024.0      March  3436035.81  increasing
27  2024.0      April  3198713.30  decreasing
28  2024.0        May  3493097.54  increasing
29  2024.0       June  3323763.94  decreasing
30  2024.0       July  3381258.48  increasing
31  2024.0     August  3420513.32  increasing
32  2024.0  September  2994206.78  decreasing
33  2024.0    October  3374862.17  increasing
34  2024.0   November  3261231.07  decreasing
35  2024.0   December  3322756.36  increasing
36  2025.0    January  3508146.11  increasing
37  2025.0   February  3158302.96  decreasing
38  2025.0      March  3411429.11  increasing
39  2025.0      April  1474507.05  decreasing

In [127]:
monthly_expenses.to_csv("monthly_expenses_summary.csv",index=False)

In [122]:
Categorical_expenses.to_csv("category_wise_summary.csv",index=False)

In [123]:
Merchant_expenses.to_csv("merchant_expenses_summary.csv",index=False)

In [124]:
payment_summary.to_csv("payment_mode_analysis.csv",index=False)

In [125]:
anomaly_detection.to_csv("anamoly_report.csv",index=False)

In [128]:
financial_health.to_csv("net_finance.csv",index=False)